on early-init
    insmod /boot/dwc3.ko

on init
    mkdir /tvconfig

on late-init
    wait /dev/block/tvconfig 10
    mount ext4 /dev/block/tvconfig /tvconfig wait noatime block_validity nodiscard data=ordered journal_checksum
    write /sys/class/adc_keypad/keymap 116:108:28
on fs
   exec_start autoupdate

on post-fs-data
    chown system system /sys/class/android_usb/android0/f_mass_storage/lun/file
    chmod 0660 /sys/class/android_usb/android0/f_mass_storage/lun/file
    chown system system /sys/class/android_usb/android0/f_rndis/ethaddr
    chmod 0660 /sys/class/android_usb/android0/f_rndis/ethaddr

on boot
    mkdir /dev/usb-ffs 0770 shell shell
    mkdir /dev/usb-ffs/adb 0770 shell shell
    mount configfs none /config
    mkdir /config/usb_gadget/g1 0770 shell shell
    write /config/usb_gadget/g1/idVendor 0x18d1
    write /config/usb_gadget/g1/bcdDevice 0x0223
    write /config/usb_gadget/g1/bcdUSB 0x0200
    mkdir /config/usb_gadget/g1/strings/0x409 0770
    write /config/usb_gadget/g1/strings/0x409/serialnumber ${ro.serialno}
    write /config/usb_gadget/g1/strings/0x409/manufacturer amlogic
    write /config/usb_gadget/g1/strings/0x409/product t962x3_ab301
    mkdir /config/usb_gadget/g1/functions/ffs.adb
    mkdir /config/usb_gadget/g1/functions/mtp.gs0
    mkdir /config/usb_gadget/g1/configs/b.1 0770 shell shell
    mkdir /config/usb_gadget/g1/configs/b.1/strings/0x409 0770 shell shell
    write /config/usb_gadget/g1/configs/b.1/MaxPower 500
    symlink /config/usb_gadget/g1/configs/b.1 /config/usb_gadget/g1/os_desc/b.1
    mount functionfs adb /dev/usb-ffs/adb uid=2000,gid=2000
    setprop sys.usb.configfs 1
    setprop sys.usb.controller ${sys.usb.controller}

service console /sbin/sh
    seclabel u:r:shell:s0
    console

service remotecfg3 /sbin/remotecfg -c /etc/remote.cfg -t /etc/remote.tab3 -d
    oneshot
    seclabel u:r:shell:s0

service remotecfg1 /sbin/remotecfg -c /etc/remote.cfg -t /etc/remote.tab1 -d
    oneshot
    seclabel u:r:shell:s0

service remotecfg2 /sbin/remotecfg -c /etc/remote.cfg -t /etc/remote.tab2 -d
    oneshot
    seclabel u:r:shell:s0

service autoupdate /sbin/ota_sdcard_autoupdate /dev/block/sda 10
     seclabel u:r:recovery:s0
     oneshot
     disabled

