on post-fs-data
    mkdir /data/led 0770 system system

on property:ro.vendor.product.model_trigger=*
     setprop ro.product.model ${ro.vendor.product.model_trigger}
     setprop ro.product.vendor.model ${ro.vendor.product.model_trigger}
     setprop ro.vendor.product.model ${ro.vendor.product.model_trigger}

on property:persist.odm.led.behaviour=1
    write /dev/kmsg "enable led standby"
    write /data/led/led_standby_flag 1
    chmod 666 /data/led/led_standby_flag

on property:persist.odm.led.behaviour=0
    write /dev/kmsg "disable led standby"
    write /data/led/led_standby_flag 0
    chmod 666 /data/led/led_standby_flag

